* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b-card {
  /* border: 1px solid rgba(0, 0, 0, 0.267); */
  height: 200px;
  width: 400px;
  margin: 200px auto;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(230, 230, 230);
}

.portrit {
  border-radius: 50%;
  height: 100px;
  margin-top: 5px;
}

.bio {
  text-align: left;
  font-size: 10px;
  /* border: 1px solid rgb(47, 0, 255); */
  padding: 10px 0 0 20px;
  height: 200px;
}

.skills {
  margin-top: 10px;
  list-style: none;
}

.inside {
  display: flex;
  justify-content: center;
}

.left-side {
  display: block;
  text-align: center;
  padding-right: 7px;
  border-right: 1px solid rgba(71, 70, 70, 0.226);
}
