* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b-card {
  /* display: flex;
  justify-content: center; */
  border: 1px solid black;
  height: 200px;
  width: 400px;
  margin: 200px auto;
}

.portrit {
  border-radius: 50%;
  height: 100px;
}

.bio {
  /* display: flex; */
  text-align: left;
  font-size: 10px;
  border: 1px solid rgb(47, 0, 255);
  padding-left: 20px;
  height: 200px;
}

.inside {
  display: flex;
  justify-content: center;
}

.left-side {
  border: 1px solid red;
}
